@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Oregano&family=My+Soul&display=swap');

/* classes para a animação das sections */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible-up {
    opacity: 1;
    transform: translateY(0);
}

.visible-down {
    opacity: 1;
    transform: translateY(0);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF1E3;
    color: #767471;
}
main{
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

a{
    color: #767471;
    text-decoration: none;
}

#home section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

#home section h1 {
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

#home section div h1 span {
    color: #FF7829;
    font-family: 'My Soul', cursive;
    padding-right: 20px;
    font-size: 150px;
}

#home section div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: -20px;
    padding: 0;
    font-size: 24px;
}

#home .section-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    min-width: 100%;
    gap: 50px;

    
}

#home .section-about h2 {
    font-family: 'Oregano', cursive;
    font-weight: 600;
    text-align: left;
    font-size: 62px;
    margin: 0;
}

#home .section-about h1{
    color: #FF7829;
    font-family: 'Oregano', cursive;
    font-weight: 600;
    text-align: left;
    font-size: 87.16px;
    padding-bottom: 0.2em;
}

#home .section-about p{
    font-size: 20px;
    color: #767471;
    line-height: 32px;
    margin: 0;
    max-width: 915px;
}

#home .section-about p span{
    color: #FF7829;
}

#home .section-about ol, #home .section-about ol li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none;
}

#home .section-about ol li a:hover {
    border-bottom: 2px solid #FF7829;
    color: #FF7829;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    border: none;
}

#home .section-about ol li a img{
    padding-right: 10px;
}

#home .section-about .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .section-about .container nav a, header nav a{
    font-family: 'Oregano', cursive;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid #767471;
    padding-left: 10px;
    padding-right: 10px;
}

#home .section-about .container nav a:hover, header nav a:hover{
    border-bottom: 2px solid #FF7829;
    color: #FF7829;
    transition: all 0.1s ease-in-out;
}



#home .section-about .container{
    height: 744.75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








#projects header{
    position: absolute;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    background-color: transparent;
}

#projects header nav a{
    color: white;
    border-color: white;
}

#projects header h1{
    font-family: 'Oregano', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

#projects .section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #FF7829;
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}
#projects .section-projects ol{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;
}

#projects .section-projects ol div li{
    color: white;
    font-size: 30px;
    font-family: Oregano, cursive;
    list-style-type: none;
}

#projects {
    padding: 0;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}