@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Oregano&family=My+Soul&display=swap');

:root {

    /* cores */
    --cinza: #555555;
    --cinza-claro: #767471;
    --cinza-muito-claro: #DEDEDE;
    --laranja: #FF7829;
    --branco-alaranjado: #FAF1E3;

    --diretoriaTI: #9A92FF;
    --garçom: #F65C5C;
    --iformandos: #52AF57;
    --celebralize: #7ECADB;

    /* espaçamento */
    --padding-lateral: 0 11em;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--branco-alaranjado);
    color: var(--cinza);
}
main{
    padding: var(--padding-lateral);
    margin: 0;
    height: fit-content;
    max-width: 2000px;
    box-sizing: border-box
    
}

a{
    color: var(--cinza);
    text-decoration: none;
}

h1{
    font-family: 'Oregano', cursive;
    font-weight: 400;
    text-align: left;
    font-size: 60px;
    padding-bottom: 0.2em;
}

ol{
    list-style: none;
}

#home section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

#home section h1 {
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

#home section div h1 span {
    color: var(--laranja);
    font-family: 'My Soul', cursive;
    padding-right: 20px;
    font-size: 150px;
}

#home section div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: -20px;
    padding: 0;
    font-size: 24px;
}

#home .section-about{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        gap: 100px;
    
}

#home .section-about h2 {
    font-family: 'Oregano', cursive;
    font-weight: 400;
    text-align: left;
    font-size: 55px;
    margin: 0;
}

#home .section-about h1{
    color: var(--laranja);
    font-family: 'Oregano', cursive;
    font-weight: 400;
    text-align: left;
    font-size: 75px;
    padding-bottom: 0.2em;
}

#home .section-about p{
    font-size: 19px;
    color: var(--cinza);
    line-height: 32px;
    margin: 0;
    max-width: 1085px;
}

#home .section-about .container div p{
    color: var(--cinza-claro);
}

#home .section-about p span{
    color: var(--laranja);
}

#home .section-about #kill-svg{
        max-height: 580px;
}

#home .section-about ol, #home .section-about ol li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none;
}

#home .section-about ol li a:hover {
    border-bottom: 2px solid var(--laranja);
    color: var(--laranja);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    border: none;
}

#home .section-about ol li a img{
    padding-right: 10px;
}

#home .section-about .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#home .section-about .container nav a, header nav a{
    font-family: 'Oregano', cursive;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid var(--cinza);
    padding-left: 10px;
    padding-right: 10px;
}

#home .section-about .container nav a:hover, header nav a:hover{
    border-bottom: 2px solid var(--laranja);
    color: var(--laranja);
    transition: all 0.1s ease-in-out;
}

#home .section-about .container{
    height: 744.75px;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*       Projetos        */


main .header{
    z-index: 10;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    padding: var(--padding-lateral);
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

main .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    background-color: transparent;
}

main .header nav a{
    color: white;
    border-color: white;
}

main .header h1{
    font-family: 'Oregano', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

#projects .section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--laranja);
    padding: var(--padding-lateral);
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects .section-projects h1{
    color: white;

    font-family: Oregano, cursive;
    font-weight: 300;
    margin-bottom: 1em;
}

#projects .section-projects ol{
    display: flex;
    gap: 6em;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

#projects .section-projects ol div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
}

#projects .section-projects ol div li a{
    color: white;
    font-size: 30px;
    font-family: Oregano, cursive;
    list-style-type: none;
}

#projects .section-projects ol div li a:hover {
    color: #E45400;
}

#projects {
    padding: 0;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects section .description{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3em;
    min-width: 245px;
}

#projects section .description article div {
    display: flex;
    gap: 1.5em;
}

#projects section header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#projects section ol {
    padding: 0;
    margin: 0;
}

#projects section header .projects-links{
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    min-width: 222px
}

#projects section header .projects-links a{
    padding: 10px 27px;
    border-radius: 90px;
    text-decoration: none;
    transition: filter 0.2s ease;
}

#projects section header .projects-links a:hover{
    filter: brightness(0.8);
}

#projects #diretoriaTI h1{
    font-size: 60px;
}

#projects section h2{
    font-weight: 500;
    font-size: 30px;
}
#projects #diretoriaTI h1 {
    color: var(--diretoriaTI);
}

#projects #diretoriaTI h2 {
    color: var(--diretoriaTI);
}
#projects #diretoriaTI header .projects-links a:nth-child(1) {
    color: var(--diretoriaTI);
    background: #ffffff;
}

#projects #diretoriaTI header .projects-links a:nth-child(2){
    color: #ffffff;
    background: var(--diretoriaTI);
}

#projects section .description li div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #DEDEDE;
    margin: 0;
}

#projects section .description .item-meio{
    grid-column: span 2;
}

#projects section{
    background-color: #181818;
    padding:var(--padding-lateral);
    padding-top: 7em;
    box-sizing: border-box;
    max-width: 100vw;
}

#projects section p, #projects section li{
    color: var(--cinza-muito-claro);
    font-size: 20px;

}

#projects #diretoriaTI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    margin: 0;
}

#projects section .layout{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}


#projects section .layout figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;
    margin: 0;
    padding: 0;
}

#projects section .layout figure img{
    width: 100%;
}



#projects #garçom h1 {
    color: var(--garçom);
    font-size: 60px;

}

#projects #garçom h2 {
    color: var(--garçom);
    font-weight: 400;
}

#projects #garçom header .projects-links a:nth-child(1) {
    color: var(--garçom);
    background: #ffffff;
    filter: brightness(0.8);
    cursor: not-allowed;
}

#projects #garçom header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: var(--garçom);
}



#projects #iformandos h1 {
    color: var(--iformandos);
    font-size: 60px;

}

#projects #iformandos h2 {
    color: var(--iformandos);
    font-weight: 400;
}


#projects #iformandos header .projects-links a:nth-child(1) {
    color: var(--iformandos);
    background: #ffffff;
    filter: brightness(0.8);
    cursor: not-allowed;
}

#projects #iformandos header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: var(--iformandos);
}


#projects #celebralize h1 {
    color: var(--celebralize);
    font-size: 60px;

}

#projects #celebralize h2 {
    color: var(--celebralize);
    font-weight: 400;
}


#projects #celebralize header .projects-links a:nth-child(1) {
    color: var(--celebralize);
    background: #ffffff;
    filter: brightness(0.8);
    cursor: not-allowed;
}

#projects #celebralize header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: var(--celebralize);
    filter: brightness(0.8);
    cursor: not-allowed;
}

/*       About-me        */

#about-me .header {
    padding-left: 0;
    padding-right: 0;
}

#about-me .header nav a {
    color: var(--cinza) ;
    border-color: var(--cinza);
}

#about-me .header h1 {
    font-family: 'Oregano', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--laranja);
}

#about-me section{
    min-height: 100vh;
    padding-top: 3em;
}

#about-me section ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: auto auto auto auto;
    gap: 40px 60px;
    padding: 0;
    margin: 0;
}

#about-me section ol li{
    list-style-type: none;
    padding: 0;
}

#about-me section ol li:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}

#about-me section ol li:nth-child(2){
    grid-column: 1;
    grid-row: 2;
}

#about-me section ol li:nth-child(3){
    grid-column: 1;
    grid-row: 3;
}

#about-me section ol li:nth-child(4){
    grid-column: 2;
    grid-row: 1;
}

#about-me section ol li:nth-child(5){
    grid-column: 2;
    grid-row: 2;
}

#about-me section ol li:nth-child(6){
    grid-column: 2;
    grid-row: 3;
}

#about-me section ol li:nth-child(7){
    grid-column: 3;
    grid-row: 1 / -1;
    background-color: var(--laranja);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

#about-me section ol li h2{
    color: var(--laranja);
    
}

#about-me section ol li div p{
    margin: 0;
    color: var(--cinza);
}

#about-me section ol li div h3 {
    margin: 0;
    color: var(--cinza);
}

#about-me section ol li ol{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about-me section ol li ol li{
    height: fit-content;
}

/*   responsividade    */

@media screen and (max-width: 1200px) {
    :root {
        --padding-lateral: 0 5em;
    }

        /* home */

    #home .section-about #kill-svg {
        display: none;
    }

    #home .section-about .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        max-height: none;
    }
    
    #home .section-about {
        align-items: center;
    }

    

    /* projetos */
        #projects .section-projects ol div li a {
            font-size: 60px;
        }
}





@media screen and (max-width: 1000px) {
    a {
        font-size: 25px !important;
    }
    
    p,li {
        font-size: 30px !important;
        line-height: 40px;
    }

    #projects .section-projects ol div li a{
        font-size: 60px !important;
    }

    #projects section h2 {
        font-size: 35px;
    }
    #projects section .description {
        flex-direction: column;
        gap: 1em;
    }
}