@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Oregano&family=My+Soul&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF1E3;
    color: #767471;
}
main{
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

a{
    color: #767471;
    text-decoration: none;
}

h1{
    font-family: 'Oregano', cursive;
    font-weight: 400;
    text-align: left;
    font-size: 60px;
    padding-bottom: 0.2em;
}

ol{
    list-style: none;
}

#home section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

#home section h1 {
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

#home section div h1 span {
    color: #FF7829;
    font-family: 'My Soul', cursive;
    padding-right: 20px;
    font-size: 150px;
}

#home section div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: -20px;
    padding: 0;
    font-size: 24px;
}

#home .section-about{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 800px;
        min-width: 100%;
        gap: 50px;
    
}

#home .section-about h2 {
    font-family: 'Oregano', cursive;
    font-weight: 600;
    text-align: left;
    font-size: 62px;
    margin: 0;
}

#home .section-about h1{
    color: #FF7829;
    font-family: 'Oregano', cursive;
    font-weight: 600;
    text-align: left;
    font-size: 87.16px;
    padding-bottom: 0.2em;
}

#home .section-about p{
    font-size: 20px;
    color: #767471;
    line-height: 32px;
    margin: 0;
    max-width: 915px;
}

#home .section-about p span{
    color: #FF7829;
}

#home .section-about ol, #home .section-about ol li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none;
}

#home .section-about ol li a:hover {
    border-bottom: 2px solid #FF7829;
    color: #FF7829;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    border: none;
}

#home .section-about ol li a img{
    padding-right: 10px;
}

#home .section-about .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#home .section-about .container nav a, header nav a{
    font-family: 'Oregano', cursive;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid #767471;
    padding-left: 10px;
    padding-right: 10px;
}

#home .section-about .container nav a:hover, header nav a:hover{
    border-bottom: 2px solid #FF7829;
    color: #FF7829;
    transition: all 0.1s ease-in-out;
}



#home .section-about .container{
    height: 744.75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





#projects header{
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    background-color: transparent;
}

#projects header nav a{
    color: white;
    border-color: white;
}

#projects header h1{
    font-family: 'Oregano', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

#projects .section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #FF7829;
    padding-left: 11em;
    padding-right: 11em;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects .section-projects h1{
    color: white;

    font-family: Oregano, cursive;
    font-weight: 300;
    margin-bottom: 1em;
}

#projects .section-projects ol{
    display: flex;
    gap: 6em;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

#projects .section-projects ol div li a{
    color: white;
    font-size: 30px;
    font-family: Oregano, cursive;
    list-style-type: none;
}

#projects .section-projects ol div li a:hover {
    color: #E45400;
}

#projects {
    padding: 0;
    margin: 0;
    height: fit-content;
    max-width: 100vw;
    box-sizing: border-box
}

#projects section .description{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#projects section header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    padding: 0;
}

#projects section ol {
    padding: 0;
    margin: 0;
}

#projects section header .projects-links{
    display: flex;
    box-sizing: border-box;
    padding-top: 27px;
    gap: 20px;
    min-width: 222px
}

#projects section header .projects-links a{
    padding: 10px 27px;
    border-radius: 90px;
    text-decoration: none;
    transition: filter 0.2s ease;
}

#projects section header .projects-links a:hover{
    filter: brightness(0.9);
}

#projects #diretoriaTI h1{
    font-size: 60px;
}

#projects section h2{
    font-weight: 500;
    font-size: 30px;
}
#projects #diretoriaTI h1 {
    color: #9A92FF;
}

#projects #diretoriaTI h2 {
    color: #9A92FF;
}
#projects #diretoriaTI header .projects-links a:nth-child(1) {
    color: #9A92FF;
    background: #ffffff;
}

#projects #diretoriaTI header .projects-links a:nth-child(2){
    color: #ffffff;
    background: #9A92FF;
}

#projects section .description li div {
    gap: 2em;
    display: flex;
    font-size: 20px;
    color: #DEDEDE;
}

#projects section .description .item-meio{
    grid-column: span 2;
}

#projects section{
    background-color: #181818;
    padding-left: 11em;
    padding-right: 11em;
    padding-top: 7em;
    box-sizing: border-box;
    max-width: 100vw;
}

#projects section p{
    color: #DEDEDE;
    font-size: 20px;
}

#projects #diretoriaTI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    margin: 0;
}

#projects section .layout{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}


#projects section .layout figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;
    margin: 0;
    padding: 0;
}

#projects section .layout figure img{
    width: 100%;
}



#projects #garçom h1 {
    color: #F65C5C;
    font-size: 60px;

}

#projects #garçom h2 {
    color: #F65C5C;
    font-weight: 400;
}


#projects #garçom header .projects-links a:nth-child(1) {
    color: #F65C5C;
    background: #ffffff;
}

#projects #garçom header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: #F65C5C;
}



#projects #iformandos h1 {
    color: #52AF57;
    font-size: 60px;

}

#projects #iformandos h2 {
    color: #52AF57;
    font-weight: 400;
}


#projects #iformandos header .projects-links a:nth-child(1) {
    color: #52AF57;
    background: #ffffff;
}

#projects #iformandos header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: #52AF57;
}


#projects #celebralize h1 {
    color: #7ECADB;
    font-size: 60px;

}

#projects #celebralize h2 {
    color: #7ECADB;
    font-weight: 400;
}


#projects #celebralize header .projects-links a:nth-child(1) {
    color: #7ECADB;
    background: #ffffff;
}

#projects #celebralize header .projects-links a:nth-child(2) {
    color: #ffffff;
    background: #7ECADB;
}